.nav {
  grid-area: n;
  background-color: #bdf5a2;
  padding: 20px 0 0 20px;
  .navItem {
    padding-top: 10px;
    font-size: 1.2em;
    a {
      color: black;
      text-decoration: none;
      &:hover {
        color: darkorange;
      }
      &.activeLink {
        color:steelblue;
        font-weight: bold;
      }
    }
  }
}
