.app-wrapper {
  width: 1200px;
  height: 100vh;  
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}


.app-content-wrapper {
  grid-area: c;
  background-color: yellowgreen;
}
